{% extends "layout/basic.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<style type="text/css">     table {width: 100%;}   </style>

{% if user.is_authenticated %}
    <h1><center>Расходы</center></h1><br>
{% include "main/costs_search_form.html" %}<br>

<table class="table">
    <thead class="thead-default">
    <tr>
        <th>Категория</th>
        <th>Комментарий</th>
        <th>Сумма</th>
        <th>Дата</th>
    </tr>
    </thead>
    {% for i in costs_list %}
    <tr>
        <th>{{ i.content }}</th>
        <th>{{ i.title }}</th>
        <th>{{ i.price }}</th>
        <th>{{ i.created_at }}</th>
    </tr>
    {% endfor %}
</table>
<br>

{% include "main/paginated.html" %}<br>

{% else %}
    {% include "main/index.html" %}
{% endif %}

{% endblock %}